/* ============ COMMON STYLES ============ */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/* ============ HEADER STYLES ============ */

.page-header-container {
  display: flex;
  align-items: center;
}

.main-header {
  border-bottom: 1px solid #e7e9fc;
}

.top-address,
.nav-list {
  display: none;
}

.header-logo {
  display: block;
  padding: 16px 0;
  font: 700 18px / 1.16667 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-logo-navy-blue {
  color: #2e2f42;
}

.page-nav {
  margin-right: auto;
}

.mobile-menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .top-address {
    display: block;
    font-style: normal;
    gap: 12px;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .address-name-link {
    font: 400 16px / 1.5 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-name-link:hover {
    color: #404bbf;
  }

  .address-name-link:focus {
    color: #404bbf;
  }

  .address-name-link:active {
    color: #404bbf;
  }

  .nav-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .nav-list-item-link {
    padding: 24px 0;
    display: block;
  }

  .nav-list-item-link:hover,
  .nav-list-item-link:focus {
    color: #404bbf;
  }

  .nav-list .studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list .studio::after {
    content: '';
    width: 100%;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-name-link {
    display: block;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-name-link:hover {
    color: #404bbf;
  }

  .address-name-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-name-link {
    font: 400 16px / 1.5 'Roboto', sans-serif;
    letter-spacing: 0.02em;
  }

  .contact-info {
    flex-direction: row;
    gap: 40px;
  }
}

/* ============ OVERLAY STYLES ============ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--navy-blue-modal);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.overlay-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dairy);
  padding: 72px 24px 24px;
  width: 288px;
  height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cornflower);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-close-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-close-button:hover,
.order-form-close-button:focus {
  background-color: var(--ocean);
  border: none;
}

.order-form-close-button:hover svg,
.order-form-close-button:focus svg {
  fill: #ffffff;
}

.order-form-header {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
  font-weight: 500;
}

.order-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.order-form-input-label-wrapper {
  margin-bottom: 8px;
}

.order-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.order-form-input-wrapper {
  position: relative;
}

.order-form-input-text {
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.order-form-input-text:focus {
  border-color: var(--iris);
}

.order-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input-text:focus + svg {
  fill: var(--iris);
}

.order-form-textarea-label-wrapper {
  margin-bottom: 16px;
}

.textarea {
  resize: none;
  padding: 8px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.checkbox-agreement-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 24px;
}

.order-form-swapped-checkbox-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input-checkbox:checked + label span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.checkbox-agreement-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  cursor: pointer;
}

.checkbox-agreement-label-link {
  text-decoration: underline;
  color: var(--iris);
  line-height: 1.33;
}

.order-submit-button {
  height: 56px;
  min-width: 169px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .overlay-modal {
    min-width: 408px;
    height: 584px;
  }
}

/* ============ MOBILE MENU STYLES ============ */
.mobile-menu {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 999;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-close-btn {
  line-height: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.mobile-menu-close-btn-icon {
  fill: var(--navy-blue);
}

.mobile-menu-list-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.mobile-menu-list-item:not(:last-child) {
  padding-bottom: 40px;
}

.mobile-menu-list-navigation {
  padding-bottom: 96px;
}

.mobile-menu-list-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--slate);
  font-style: normal;
}

.navigation-mob-menu-blue {
  color: var(--ocean);
}

.mobile-menu-list-contact-details-item:not(:last-child) {
  padding-bottom: 24px;
}

.mobile-menu-list-social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 48px;
  gap: 40px;
}
.mobile-menu-social-networks-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
}

/* ============ HERO STYLES ============ */

.hero-with-main-h {
  background-color: #2e2f42;
  max-width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
  .hero-with-main-h {
    padding-top: 192px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/mobile-hero-image@2x.jpg');
  }
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin-left: 52px;
  margin-right: 52px;
}

.order-service-btn {
  display: block;
  cursor: pointer;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  width: 169px;
  height: 56px;
  color: #ffffff;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus,
.order-service-btn:active {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero-with-main-h {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero-image.png);
  }

  @media (min-resolution: 192dpi) and (min-width: 768px) {
    .hero-with-main-h {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/tablet-hero-image@2x.png');
    }
  }

  .main-title {
    font-size: 56px;
    line-height: 107%;
  }

  .order-service-btn {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-with-main-h {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-hero-image.jpg);
  }

  @media (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero-with-main-h {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/desktop-hero-image@2x.jpg');
    }
  }
  .main-title {
    font: 700 56px / 1.07143 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: #fff;

    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
  }

  .order-service-btn {
    margin-top: 48px;
  }
}

/* ============ BENEFITS STYLES ============ */

.benefits-section-class{
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-icon {
  display: none;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.name-of-benefits {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.p-in-section-benefits {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
  }

  .name-of-benefits {
    text-align: left;
  }

  .benefits-list-item {
    width: calc((100% - 1 * 24px) / 2);
  }

}

@media screen and (min-width: 1158px) {
  .benefits-icon {
    display: block;
  }

  .benefits-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    min-width: 264px;
    margin-bottom: 8px;
  }

  .benefits-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .name-of-benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: var(--navy-blue);
  }

  .p-in-section-benefits {
    font-weight: 400;
  }
  .benefits-section-class{
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ============ OUR TEAM STYLES ============ */

.section-with-our-team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.title-of-section-with-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.list-of-workers {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.team-card {
  padding: 32px 0;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.icon-list-item {
  height: 40px;
}

.icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-of-workers-li {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  /* margin-right: 0;
  margin-left: 0; */
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.worker-name {
  font: 500 20px / 1.2 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.worker-position {
  font: 400 16px / 1.5 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
}




@media screen and (min-width: 768px) {
  .list-of-workers {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 552px;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 62px;
  }
}
  @media screen and (min-width: 768px) and (max-width:1157px){
    .list-of-workers-li{
      max-width: 264px;
      width: calc((100% - 24px) / 2);
    }
    .list-of-workers {
      max-width: 584px;
    }
  }


  @media screen and (min-width: 768px) and (max-width:1157px){
  .our-team-container {
    max-width: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .our-team-list-container {
    max-width: 1158px;
    margin-left: 0;
    margin-right: 0;
    align-items: flex-start;
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .our-team-contaienr{
    max-width: 1158px;
  }

  .list-of-workers {
    max-width: 1158px;
    row-gap: 24px;
    justify-content: flex-start;

  }

  .list-of-workers-li {
    width: calc((100% - 72px) / 4);
    max-width: 264px;
  }
}
/* ============ PORTFOLIO STYLES ============ */

.overlay-paragraph {
  display: none;
}

.portfolio-section{
  padding-top: 96px;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  padding-bottom:96px;

}

.title-of-section-with-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.portfolio-list{
  display: flex;
  flex-direction: column;
  row-gap:48px;
}

.name-of-service {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-card{
  padding-top: 32px;
  padding-bottom: 32px;
}

.direction-of-service {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);

}

.portfolio-img {
  width: 288px;
  object-fit: cover;
  display: block;
}

.portfolio-card {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}

@media screen and (min-width: 768px) {

  .portfolio-img{
    max-width:356px;
    width:356px;
    height: 300px;
  }
  .portfolio-section{
    padding-top: 96px;
    max-width: 768px;
    width: 768px;
    /* padding: 0 16px; !!!!max-width */
    margin: 0 auto;
  }

  .portfolio-list-item{
    /* max-width:356px; */
    width: calc((100% - 24px) / 2);
  }

  .portfolio-card {
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    padding: 32px 16px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    column-gap: 24px;
    row-gap: 48px;
  }

  .name-of-service {
    padding-top: 0;
    padding-bottom: 8;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-section{
    max-width:1158px;
    padding-bottom: 120px;
    width: 1158px;
  }
  .portfolio-card {
    width: 360px;
  }

  .portfolio-img {
    max-width: 360px;
    width:360px;
  }
  .portfolio-overlay {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .overlay-paragraph {
    display: block;
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item {
    position: relative;
    overflow: hidden;
    width: calc((100% - 48px) / 3);
    max-width:360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-list-item:hover .overlay-paragraph {
    transform: translateY(0);
  }
}

/* ============ FOOTER STYLES ============ */

.bottom-footer {
  background-color: #2e2f42;
  padding-bottom: 96px;
  padding-top: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
}

.footer-logo {
  font-family: 'Ralevay', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  text-align: center;
  display: block;
  margin-bottom: 16px;
}
.blue-in-footer-logo-color {
  color: #f4f4fd;
}

.p-in-footer {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
  text-align: left;
}

.social-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  margin-bottom: 16px;
}
.social-media-menu {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background: #31d0aa;
}
.social-media-icon {
  fill: #f4f4fd;
}
.social-media-item {
  width: 40px;
  height: 40px;
}

.footer-form-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  margin-bottom: 16px;
}
.footer-mail-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  padding-left: 16px;
  color: #ffffff;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 288px;
}
@media screen and (max-width:767px){
  .footer-mail-input{
    margin-bottom: 16px;
  }
}
.footer-subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:focus,
.footer-subscribe-button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
}

.footer-subscribe-paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.footer-subscribe-button-icon {
  fill: white;
  margin-left: 16px;
}
input[type='email']::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: white;
  opacity:0,5;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    text-align: left;
    padding-left: 0;
  }
  .p-in-footer {
    text-align: left;
    margin-left: 0;
    width: 264px;
  }
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
    text-align: left;
  }
  .footer-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    align-items: baseline;
    padding-left: 0;
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 16px;
  }
  .footer-form-container {
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .social-media {
    margin-right: 80px;
    padding-left: 0;
  }
  .footer-for-text-container {
    margin-right: 120px;
  }
  .footer-subscribe-button {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-mail-input {
    width: 264px;
    padding-left: 16px;
  }
}